# Terraform local state
*.tfstate
*.tfstate.*

# Directory
.terraform/

# Sensible data
*.tfvars
*.pem
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan outputs
*.tfplan

# Macros / CR
crash.log

# IDEs
.vscode/
.idea/
