@import 'tailwindcss';

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;

  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --color-charcoal: #262626;
  --color-espresso: #451500;
  --color-midnight: #000061;
  --color-gray-disabled: #99a1af;
  --color-slate: #87a7a5;
  --color-olive: #7d7550;
  --color-plum: #7d5076;
  --color-blossom: #fca7f0;
  --color-cream: #fceda7;
  --color-sky: #a8fdf8;
  --color-magenta: #ff01ed;
  --color-yellow: #ffcc00;
  --color-aqua: #00ffe2;

  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='password']::-webkit-textfield-decoration-button {
  display: none;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
